#f{
top: 80%;width: 100%;height: 30%;position: absolute;
background: url('f.svg') no-repeat;
animation: af 15s infinite ease-in-out;
}
#f1{
top: 25%;width: 60%;height: 60%;position: absolute;
background: url('f2.svg') no-repeat;
animation: aii 15s infinite ease-in-out;
}

#b1{
top: 35%;width: 100%;height: 50%;opacity: 1;
position: absolute;
background: url('b1.svg') no-repeat;
animation: aiii 15s infinite ease-in-out;
}
#b2{
top: 35%;width: 60%;height: 50%;opacity: 1;
position: absolute;
background: url('b2.svg') no-repeat;
animation: ab 15s infinite ease-in-out;
}
#c1{
top: 32%;width: 60%;height: 50%;opacity: 1;
position: absolute;
background: url('c1.svg') no-repeat;
animation: ad 15s infinite ease-in-out reverse;
}
#c2{
top: 52%;width: 60%;height: 50%;opacity: 1;
position: absolute;
background: url('c2.svg') no-repeat;
animation: ada 15s infinite ease-in-out reverse;
}

#a1{
top: 7%;width: 100%;height: 100%;transform: scale(1.05);
position: absolute;
background: url('a1.svg') no-repeat;
animation: ai 15s infinite ease-in-out;
}
#a2{
top: 81%;width: 50%;height: 30%;position: absolute;
background: url('a2.svg') no-repeat;
animation: ac 15s infinite ease-in-out reverse; 
}

#a{
top: 1%;left: -1%;width: 100%;height: 100%;position: absolute;
background: url('a.png') no-repeat;
animation: aa 15s cubic-bezier(.2, 0, .5, 1) infinite;
}

*{margin: 0;padding: 0;} #root{
width: 420px;height: 150px; 
animation: r 15s infinite ease-in-out;
position: relative;width: 420px;height: 150px;
overflow: hidden;} 

#m{width: 100%;height: 100%;position: absolute;
background: url('m.jpg') no-repeat;} 



@keyframes ai {0% {opacity: 0;left: -10%;} 5% {opacity: 1;left: 5%;} 87% {opacity: 1;left: 5%;} 95%, 100% {opacity: 0;left: 0%;} }
@keyframes aii {0% {opacity: 0;left: 0%;} 5% {opacity: .9;left: 42%;} 87% {opacity: .9;left: 42%;} 95%, 100% {opacity: 0;left: 0%;} }
@keyframes aiii {0% {opacity: 0;left: 0%;} 5% {opacity: 1;left: 46%;} 23% {opacity: 1;left: 46%;} 28%, 100% {opacity: 0;left: 0%;} }
@keyframes ab {0%,23% {opacity: 0;left: 0%;} 28% {opacity: 1;left: 46%;} 46% {opacity: 1;left: 46%;} 50% {opacity: 0;left: 0%;} 100% {opacity: 0;left: 0%;} }
@keyframes ad {0%,5% {opacity: 0;left: 0%;} 10% {opacity: 1;left: 46%;} 46% {opacity: 1;left: 46%;} 50% {opacity: 0;left: 46%;} 100% {opacity: 0;left: 0%;} }
@keyframes ada {0%,5% {opacity: 0;left: 0%;} 10% {opacity: 1;left: 46%;} 42% {opacity: 1;left: 46%;} 48% {opacity: 0;left: 46%;} 100% {opacity: 0;left: 0%;} }
@keyframes ac {0%,5% {opacity: 0;left: 0%;} 10% {opacity: 1;left: 50%;} 93% {opacity: 1;left: 50%;} 95%, 100% {opacity: 0;left: 0%;} }
@keyframes af {0% {opacity: 0;left: -100%;} 7% {opacity: .8;left: 0%;} 87% {opacity: .8;left: 0%;} 95%, 100% {opacity: 0;left: 0%;} }
@keyframes r {0%,5% {opacity: 0;} 7% {opacity: 1;} 87% {opacity: 1;} 90%, 100%{opacity: 0;}}
@keyframes aa {0%,  {opacity: 0};5%, 87% {opacity: 1};} 

<!-- <div id="f1"></div>
<div id="f"></div>
<div id="b1"></div>
<div id="b2"></div>
<div id="c1"></div>
<div id="c2"></div>
<div id="a"></div>
<div id="a1"></div>
<div id="a2"></div> -->